body {
    font-family: Arial, sans-serif;
    background-color: #cce7ff;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Contenedor principal */
.container {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Lista de comentarios */
#comments-list {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
}

/* Corazones flotantes */
.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Comentarios flotantes */
.heart-comment {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    animation: float 15s linear infinite;
}
